In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [3]:
df = pd.read_csv('data_student.csv')
df.head(5)

    STG   SCG   STR   LPR   PEG       UNS
0  0.00  0.00  0.00  0.00  0.00  very_low
1  0.08  0.08  0.10  0.24  0.90      High
2  0.06  0.06  0.05  0.25  0.33       Low
3  0.10  0.10  0.15  0.65  0.30    Middle
4  0.08  0.08  0.08  0.98  0.24       Low

In [4]:
df.rename(columns={' UNS': 'UNS'}, inplace=True)
df

      STG   SCG   STR   LPR   PEG       UNS
0    0.00  0.00  0.00  0.00  0.00  very_low
1    0.08  0.08  0.10  0.24  0.90      High
2    0.06  0.06  0.05  0.25  0.33       Low
3    0.10  0.10  0.15  0.65  0.30    Middle
4    0.08  0.08  0.08  0.98  0.24       Low
..    ...   ...   ...   ...   ...       ...
253  0.61  0.78  0.69  0.92  0.58      High
254  0.78  0.61  0.71  0.19  0.60    Middle
255  0.54  0.82  0.71  0.29  0.77      High
256  0.50  0.75  0.81  0.61  0.26    Middle
257  0.66  0.90  0.76  0.87  0.74      High

[258 rows x 6 columns]

In [5]:
df.isnull().sum()

STG    0
SCG    0
STR    0
LPR    0
PEG    0
UNS    0
dtype: int64

In [6]:
df.duplicated().sum()

0

In [7]:
df['UNS'].value_counts()

Middle      88
Low         83
High        63
very_low    24
Name: UNS, dtype: int64

In [8]:
le = LabelEncoder()
df['UNS'] = le.fit_transform(df['UNS'])
df

      STG   SCG   STR   LPR   PEG  UNS
0    0.00  0.00  0.00  0.00  0.00    3
1    0.08  0.08  0.10  0.24  0.90    0
2    0.06  0.06  0.05  0.25  0.33    1
3    0.10  0.10  0.15  0.65  0.30    2
4    0.08  0.08  0.08  0.98  0.24    1
..    ...   ...   ...   ...   ...  ...
253  0.61  0.78  0.69  0.92  0.58    0
254  0.78  0.61  0.71  0.19  0.60    2
255  0.54  0.82  0.71  0.29  0.77    0
256  0.50  0.75  0.81  0.61  0.26    2
257  0.66  0.90  0.76  0.87  0.74    0

[258 rows x 6 columns]

In [9]:
X = df.drop(['UNS'], axis='columns')
X

      STG   SCG   STR   LPR   PEG
0    0.00  0.00  0.00  0.00  0.00
1    0.08  0.08  0.10  0.24  0.90
2    0.06  0.06  0.05  0.25  0.33
3    0.10  0.10  0.15  0.65  0.30
4    0.08  0.08  0.08  0.98  0.24
..    ...   ...   ...   ...   ...
253  0.61  0.78  0.69  0.92  0.58
254  0.78  0.61  0.71  0.19  0.60
255  0.54  0.82  0.71  0.29  0.77
256  0.50  0.75  0.81  0.61  0.26
257  0.66  0.90  0.76  0.87  0.74

[258 rows x 5 columns]

In [10]:
Y = df['UNS']
Y

0      3
1      0
2      1
3      2
4      1
      ..
253    0
254    2
255    0
256    2
257    0
Name: UNS, Length: 258, dtype: int32

In [11]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [12]:
model.fit(X,Y)

DecisionTreeClassifier()

In [13]:
model.score(X,Y)

1.0

In [17]:
prediction = model.predict([[0.50, 0.75, 0.81, 0.61, 0.26]])
output = prediction[0]
print(output)

2

C:\Users\alias\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(